@font-face {
  font-family: "Gill Sans Book";
  src: local("Gill Sans MT Pro Book"), url(fonts/GillSansMTProBook/GillSansMTProBook.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans Medium";
  src: local("Gill Sans MT Pro Medium"), url(fonts/GillSansMTProMedium/GillSansMTProMedium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iCiel Thin";
  src: local("iCiel Thin"), url(fonts/iCielThin/iCielThin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HomepageBaukasten Book";
  src: local("HomepageBaukasten Book"), url(fonts/HomepageBaukasten/HomepageBaukasten.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iCiel Medium";
  src: local("iCiel Medium"), url(fonts/iCielMedium/iCielMedium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
