//https://swiperjs.com/swiper-api#navigation-parameters
.mfk-swiper {
    --swiper-theme-color: var(--mat-sys-tertiary);

    --swiper-navigation-size: 55px;

    --swiper-pagination-bullet-inactive-color: var(--mat-sys-on-tertiary);
    --swiper-pagination-bullet-inactive-opacity: 0.8;
}

.slider-half-size-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    //todo remove important
    .base-image {
            display: inline !important;

        img {
            display: inline;
            max-height: 100% !important;
            //max-width: auto;
            height: 100% !important;
            width: auto !important;
        }
    }
}