// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "./angular-material";
@use "fonts";
@use "variables" as *;
@use "placeholder";
@use "module-spacings";
@use "swiper";

*,
*:before,
*:after {
  box-sizing: inherit;
}


html {
  height: 100%;

  box-sizing: border-box;
  //font-family: "Gill Sans Book", "Arial";
  //font-family: "iCiel Thin", "Arial";
  @extend %fontContinuousText;
  @extend %fontStandard;
  //font-family: "iCiel Medium", "Arial";
}

body {
  height: 100%;
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface); //$dark-text
  //font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  @extend %fontStandard;
  /* font-size: 1.125rem;
  line-height: 1.3em;
  color: $color-design-grey;

  @include mb-up($desktop-min) {
    font-size: 1.25rem;
  } */
}

h1,
h2,
h3,
h4,
h5,
.u-headline1,
.u-headline2,
.u-headline3,
.u-headline4,
.u-headline5 {
  @extend %fontStructuredText;
  @extend %fontStructuredTextBig;

  margin-top: 10px;
  margin-bottom: 5px;

  &:first-child {
    margin-top: unset;
  }
}

h1,
.u-headline1 {
  font-size: 2.125rem;

  @include mb-up($tablet-min) {
    font-size: 2.625rem;
  }

  @include mb-up($desktop-min) {
    font-size: 48px;
  }

  &+.u-subline {
    @include mb-up($desktop-min) {
      font-size: 1.5rem;
    }
  }
}

h2,
.u-headline2 {
  font-size: 1.75rem;

  @include mb-up($desktop-min) {
    font-size: 2.25rem;
  }

  &+.u-subline {
    @include mb-up($desktop-min) {
      font-size: 1.375rem;
    }
  }
}

h3,
.u-headline3 {
  font-size: 1.5rem;

  @include mb-up($desktop-min) {
    font-size: 1.875rem;
  }
}

h4,
.u-headline4 {
  font-size: 1.25rem;

  @include mb-up($desktop-min) {
    font-size: 1.375rem;
  }
}


ul {
  list-style: none;
  margin: unset;
  padding-inline-start: unset;
  padding: unset;
}

.module {
  @extend %module-spacing;
  display: block;
}

.ccm-root {
  @extend %fontStructuredText;
}

.arrow-bottom-wrapper {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: rotate(180deg);
}

app-featured-page:nth-child(even) .featured-page-wrapper {
  background-color: var(--mat-sys-secondary); //$color-design-background-medium;
}

app-featured-page:nth-child(odd) .featured-page-wrapper {
  background-color: var(--mat-sys-primary); //$color-design-background-medium;
}