<div id="map" style="height: 400px;" #map></div>

<!-- Popup für Event-Details -->
<div id="popup" class="ol-popup" #popup [style.display]="popupContent() ? 'block' : 'none'">
  <button class="ol-popup-closer" (click)="closePopup()">×</button>
  <div class="ol-popup-content" #popupContentDiv>
    <app-event-details-display [eventDetails]="popupContent()" />
  </div>
</div>

<mat-accordion multi>
  @for(eventDetail of eventDetails(); track $index) {
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ extractDay(eventDetail.event?.fields?.date) }}</mat-panel-title>
      <mat-panel-description>{{ eventDetail.event?.fields?.locationName }}</mat-panel-description>
    </mat-expansion-panel-header>
    <app-event-details-display [eventDetails]="eventDetail" />
  </mat-expansion-panel>
  }
</mat-accordion>