@use "../../../styles/variables" as *;
@use "../../../styles/placeholder" as *;

.page-footer {
  text-align: center;
  padding: 1rem 1rem;
  color: $dark-text;
}

.page-footer-links {
  margin: 0 auto;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

img {
  margin-top: 1rem;
  max-width: 50px;
  @include mb-up($tablet-min) {
    max-width: 80px;
  }
}
