@use "../../../styles/variables" as *;

.page-footer {
  text-align: center;
  padding: 1rem 1rem;
  background-color: $color-white;
  color: $dark-text;
}

.page-footer-links {
  margin: 0 auto;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}