@use "../../../styles/variables" as *;
@use "../../../styles/placeholder" as *;

.slider-half-size-slide {
    text-align: center;
    width: 100%;
    height: 15rem;

    @include mb-up($tablet-min) {
        height: 22rem;
    }

    @include mb-up($desktop-min) {
        height: 30rem;
    }

    &--small {
        height: 15rem;

        @include mb-up($tablet-min) {
            height: 17rem;
        }

        @include mb-up($desktop-min) {
            height: 18rem;
        }
    }
}
