@use "../../../styles/variables" as *;
@use "../../../styles/placeholder.scss" as *;

:host {
  display: block;
}

.base-text {

  &--big {
    @extend %fontVeryBig;
  }

  &--headline {
    @extend %fontHeadline;
    //deprecated, but leave for compatibility
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  &--bold {
    font-weight: bold;
  }

  &--gotham {
    @extend %fontStructuredText;
    @extend %fontStructuredTextBig;
  }

}