@use "../../../styles/variables" as *;
@use "../../../styles/placeholder.scss" as *;

.base-text {
  &:not(.base-text--big, .base-text--headline) {
    @include mb-down($mobile-max) {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &--big {
    @extend %fontVeryBig;
  }

  &--headline {
    @extend %fontHeadline;
    //deprecated, but leave for compatibility
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  &--bold {
    font-weight: bold;
  }

  &--gotham {
    @extend %fontGotham;
  }

}