@use "../../styles/variables" as *;
@use "../../styles/placeholder.scss" as *;

:host {
    @extend %heroImage;

    app-base-text~app-base-text {
        margin-top: 1rem;
    }
}

.text-container {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    width: 70%;
    max-width: 50rem;
    margin: 0 auto -5rem auto;
    text-align: center;
    @extend %borderRadiusBox;
    position: relative;
    bottom: 80px;
    padding: 20px 25px;

    h1 {
        margin-bottom: 1rem;

        @include mb-up($tablet-min) {
            margin-bottom: 2rem;
        }
    }

    .line {
        height: 3px;
        width: 10rem;
        margin: auto;
        background-color: var(--mat-sys-tertiary);
        margin-bottom: 1rem;

        @include mb-up($tablet-min) {
            height: 5px;
            margin-bottom: 2rem;
        }
    }

    @include mb-up($tablet-min) {
        padding: 30px 40px;
        margin-bottom: -3rem;
    }
}