@use '@angular/material' as mat;
@use "./colors" as c;

:root {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: c.$primary-palette,
      tertiary: c.$tertiary-palette
    ),
    typography: (
      plain-family: "Open Sans",//"Lora",
      brand-family: "Open Sans",
    ),
    density: 0,
  ));
}
