@use "../../../styles/variables" as *;
@use "../../../styles/placeholder.scss" as *;

:host {
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--mat-sys-level2);
    border-radius: 8px;
    max-width: 300px;
    width: calc(100% - 2rem);

    @include mb-up($tablet-min) {
        width: calc(50% - 2rem);
    }

    @include mb-up($desktop-min) {
        width: calc(50% - 2rem);
        max-width: 400px;
    }

    &:hover {
        box-shadow: var(--mat-sys-level4);
    }

    .blog-teaser {
        position: relative;

        img {
            filter: brightness(70%);
            object-fit: cover;
            margin: auto;
            width: 100%;
            height: 100%;
        }

        .mobile {
            @include mb-up($desktop-min) {
                display: none;
            }
        }

        .desktop {
            @include mb-down($tablet-max) {
                display: none;
            }
        }


        &__title {
            position: absolute;
            bottom: 0;
            text-decoration: none;
            color: var(--mat-sys-on-secondary);
            width: 100%;
            margin: auto;
            padding: 1rem;
            font-size: 1.25rem;

            @include mb-up($desktop-min) {
                font-size: 1.375rem;
            }
        }
    }
}