@use "../../../styles/variables" as *;
@use "../../../styles/placeholder.scss" as *;

.featured-page {
    width: 100%;
    color: $color-white;

    padding: 2rem 25px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;

    @include mb-up($desktop-min) {
        flex-direction: row;
    }

    .first {
        text-align: right;
        position: relative;

        h3 {
            // color: var(--mat-sys-secondary);
        }

        // width: 100rem;
        &.with-image {
            @include mb-up($desktop-min) {
                flex-basis: 120rem;
                left: 30px;
            }
        }
    }

    .second {
        img {
            @extend %borderRadiusBox;
        }
        .mobile {
            @include mb-up($desktop-min) {
                display: none;
            }
        }
        .desktop {
            @include mb-down($tablet-max) {
                display: none;
            }
        }
    }

    &-wrapper {
        margin: 0 auto;
        border-radius: 32px;
        width: 90%;

        @include mb-up($tablet-min) {
            width: 80%;
        }

        @include mb-up($desktop-min) {
            width: 60%;
        }
    }

    &-headline {
        margin-bottom: 1.5rem;

        @include mb-up($tablet-min) {
            margin-bottom: 2rem;
        }

        @include mb-up($desktop-min) {
            margin-bottom: 2rem;
        }
    }

    &-text {
        margin-bottom: 2.5rem;

        @include mb-up($tablet-min) {
            margin-bottom: 3rem;
        }

        @include mb-up($desktop-min) {
            margin-bottom: 3rem;
        }
    }

    &-button {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
}