<div class="featured-page-wrapper">
    <div class="module featured-page">
        <!-- <text-slider-or-normal class="featured-page-headline" :big="true" :bold="true" :headline="true" :gotham="true"
            :align="'center'" v-if="headline" :text="headline" :htmlTag="'h3'" /> -->
        @if(headline()) {
        <app-text-module class="featured-page-headline" [data]="textModuleHeadlineData()"></app-text-module>
        }

        <app-markdown-text class="featured-page-text" [data]="text()" [noModule]="true">
        </app-markdown-text>

        <a class="featured-page-button" [routerLink]="pageLink()">
            <!-- <text-slider-or-normal :big="true" :bold="false" :gotham="true" :align="'center'"
                :text="linkText ? linkText : 'Mehr erfahren'" /> -->
            <app-base-text class="module" [text]="this.linkText() ? this.linkText() : 'Mehr erfahren'" [big]="true" [gotham]="true" [align]="'center'"></app-base-text>
        </a>
    </div>
</div>